<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ferry Tracker</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles.css" type="text/css">
    </head>

    <body>
        <header>
            <button id="new-ferry-line-btn">New Route</button>
        </header>
        <div id="first-line-suggestion">
            <img src="public/img/firstferrysuggestion.png" alt="First Ferry Suggestion">
        </div>
        <main id="ferry-lines-container">
            <!-- Ferry lines will be dynamically inserted here -->

        </main>
        <script src="/js/scripts.js"></script>
    </body>
</html>